<img style="height: 100px; width: 240px;" src="../Assets/logo.png"></img> 
<img style="display: block; margin: auto; width: 20%; height: 20%;" src="../Assets/Luffy.png"><br>
<form id="profilepic_form" method="post" action="/users/login">
	<fieldset id="profilepic_controls">
		<div style="width: 250px; height: 100px; position: relative; background-color: #fbfbfb;   border: 1px solid #b8b8b8; display: block; margin: auto;" data-controltype="image">
			<div data-role="fieldcontain" data-controltype="camerainput">
				<input type="file" name="" id="camerainput1" capture>
			</div>
		</div>
	</fieldset>
</form>
