<img style="height: 100px; width: 240px;" src="../Assets/logo.png"></img><br>
<script src="scripts/validation.js"></script>
<p id="indication"><br></p>
<script>
setTimeout(function(){document.getElementById("indication").innerHTML = "";}, 75);
</script>
<form id="password" method="post" action="scripts/editPassword.php" onsubmit="return passwordValidation()">

	<div class="form-group">
		<label>Current Password</label>
		<input type="password" class="form-control" placeholder="Current Password" name="cpassword"/>
		<p class="warning" id="cpassword"></p>
	</div>
	
	<div class="form-group">
		<label>New Password</label>
		<input type="password" class="form-control" placeholder="New Password" name="pass"/>
		<p class="warning" id="pass"></p>
	</div>

	<div class="form-group">
		<label>Confirm New Password</label>
		<input type="password" class="form-control" placeholder="Confirm New Password" name="pass2"/>
		<p class="warning" id="pass2"></p>
	</div>
	
	<input type="submit" value="Change Password" class="btn btn-default" />
</form>