<div id="info">
	<h2>Contact Information</h2>
	<p>Lorem ipsum dolor sit amet, usu no malorum laoreet. Pro at volumus erroribus similique. Per in nemore sapientem consulatu, in duo possit epicurei urbanitas. Has vero accommodare ne, nam at essent delectus lucilius. Te assum erant animal cum, duis eius verear mei ad.</p>
</div>
<div id="container">
	<div id="Contact">
		<img src="/assets/contact1.png"></img>
		<h3>Contact Name</h3>
		<p>Lorem ipsum dolor sit amet, usu no malorum laoreet. Pro at volumus erroribus similique. Per in nemore sapientem consulatu, in duo possit epicurei urbanitas.</p>
	</div>
	<div id="Contact">
		<img src="/assets/contact1.png"></img>
		<h3>Contact Name</h3>
		<p>Lorem ipsum dolor sit amet, usu no malorum laoreet. Pro at volumus erroribus similique. Per in nemore sapientem consulatu, in duo possit epicurei urbanitas.</p>
	</div>
</div>