
<div id="info">
<h2 id="ci">Contact Information</h2><br>
<div id="lol" style="width: 75%; margin-left: 12.5%">If you are interested in learning more about CYPRESS or would like to contact the developers, please find us below.</div><br>
</div>
<tr><div id="contact" class="row">
	<div class="col-lg-4">
	<img src="https://cdn4.iconfinder.com/data/icons/food-icons/apple.png" style="width:100px; margin-top:25px"></img>
	</div>
	<div class="col-lg-4 offset-lg-2">
		<h3>Keary Chang</h3> keary.chang@ryerson.ca<br>
	</div>
	</div></tr><br>

<tr><div id="contact" class="row">
	<div class="col-lg-4">
	<img src="https://cdn0.iconfinder.com/data/icons/fruits-29/300/fruit_peach-256.png" style="width:100px; margin-top:25px"></img>
	</div>
	<div class="col-lg-4 offset-lg-2">
		<h3>Alfa Mai</h3> alfa.mai@ryerson.ca<br>
	</div>
	</div></tr><br>

<tr><div id="contact" class="row">
	<div class="col-lg-4">
	<img src="https://cdn3.iconfinder.com/data/icons/fruits-8/512/banana-256.png" style="width:100px; margin-top:25px"></img>
	</div>
	<div class="col-lg-4 offset-lg-2">
		<h3>Faisal Hemani</h3> faisal.hemani@ryerson.ca<br>
	</div>
	</div></tr><br>
