<h2>FAQ</h2>
<table>
	<tr><div id="question">
		<h4>How long will it take before a city of Toronto employee addresses my issue?</h4>
		<p>Our employees are active everyday in reading issues reported on CYPRESS. We will generally put issues of high priority or frequent complaint ahead of others. We cannot give an exact time frame, because the resources available to fix a problem vary so much. Please do not create another report, because your issue did not receive a response. We will try our best to respond to every issue.</p>
	</div></tr><br>
	<tr><div id="question">
		<h4>I forgot my password. Please help?</h4>
		<p>With the current version of CYPRESS, password recovery has not been implemented. Meanwhile, please contact the developers. They will be able to assist you.</p>
	</div></tr><br>
	<tr><div id="question">
		<h4>Website is too slow. Fix it please.</h4>
		<p>We apologize in advance for any inconvenience. We purchased servers anticipating that a large number of users at launch would use the service less frequently over time. This reduces our budget and development time in moving servers. We know that your issues are important. You may want to access the website during off-peak hours such as early in the morning or late at night.</p>
	</div></tr>
