<h2>Profile</h2>
<div id="profile">
  <div id="p_info">
	<h4>Name</h4>
	<h4>Email</h4>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span><br>
  </div><br>
		<tr><div id="incident">
			<p><img src="../images/contact1.png"></img>
			Lorem ipsum dolor sit amet, usu no malorum laoreet. Pro at volumus erroribus similique. Per in nemore sapientem consulatu, in duo possit epicurei urbanitas. Has vero accommodare ne, nam at essent delectus lucilius. Te assum erant animal cum, duis eius verear mei ad.</p>
		</div></tr><br>
		<tr><div id="incident">
			<p><img src="../images/contact1.png"></img>
			Lorem ipsum dolor sit amet, usu no malorum laoreet. Pro at volumus erroribus similique. Per in nemore sapientem consulatu, in duo possit epicurei urbanitas. Has vero accommodare ne, nam at essent delectus lucilius. Te assum erant animal cum, duis eius verear mei ad.</p>
		</div></tr>
</div>
<div id="infoChange" style="left: 0; width: 12%; padding: 20px; margin-top: -28%;">
        <img style="width: 100px; height: 100px;" src="../Assets/Luffy.png"><br>
        <a href="changePic.html">Edit Profile Picture</a><br>
        <a href="changeInfo.html">Edit Account Information</a><br>
        <a href="changePassword.html">Change Password</a><br>
        <a href="">Delete Account</a><br>
        <a href="invite.html" class="btn btn-default">Invite Friend</a>
      </div>