<script src="scripts/initialization.js"></script>
<script>
profileInit()
</script>
<h2 id="name"></h2>
<h4>Submitted Reports</h4><br>
<div style="width: 100% " id="container">
<table id="reports">
	<tr>
		<div id="incident">
			<a href="" class="btn btn-default">Edit Report</a>
			<a href="" class="btn btn-default">Delete Report</a>
		</div>
	</tr><br>
	<tr>
		<div id="incident">
			<a href="" class="btn btn-default">Edit Report</a>
			<a href="" class="btn btn-default">Delete Report</a>
		</div>
	</tr>
</table>
</div>