<h2>Profile</h2>
<div id="profile">
  <div id="p_info">
	<h4>Name</h4>
	<h4>Email</h4>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span>
	<span class="glyphicon glyphicon-star" aria-hidden="true"></span><br>
  </div><br>
		<div id="incident">
			<p><img src="../images/contact1.png"></img>
			Lorem ipsum dolor sit amet, usu no malorum laoreet. Pro at volumus erroribus similique. Per in nemore sapientem consulatu, in duo possit epicurei urbanitas. Has vero accommodare ne, nam at essent delectus lucilius. Te assum erant animal cum, duis eius verear mei ad.</p>
		</div><br>
		<div id="incident">
			<p><img src="../images/contact1.png"></img>
			Lorem ipsum dolor sit amet, usu no malorum laoreet. Pro at volumus erroribus similique. Per in nemore sapientem consulatu, in duo possit epicurei urbanitas. Has vero accommodare ne, nam at essent delectus lucilius. Te assum erant animal cum, duis eius verear mei ad.</p>
		</div>
</div>