<h2>Report</h2>
<form id="report">
	<input type="radio" name="issue" value="Utility Failure"> Utility Failure<br>
	<input type="radio" name="issue" value="Potholes"> Potholes<br>
	<input type="radio" name="issue" value="Vandalism">Vandalism<br>
	<input type="radio" name="issue" value="Eroded Streets"> Eroded Streets<br>
	<input type="radio" name="issue" value="Flooded Streets">Flooded Streets<br>
	<input type="radio" name="issue" value="Tree Collapse">Tree Collapse<br>
	<input type="radio" name="issue" value="Mould and Spore Growth">Mould and Spore Growth<br>
	<input type="radio" name="issue" value="Garbage/other road Blocking Object">Garbage/ other road Blocking Object<br>
	<input type="text" name="address" placeholder="Address"><br>
	<textarea rows="4" cols="50" placeholder="Details Here"></textarea><br>
	<input type="submit" value="Submit" class="btn btn-default">
	<button type="button" onclick="" class="btn btn-default">Cancel</button>
</form>